.deletePlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.5rem;
}

.deletePlayer>p:nth-child(2) {
    font-size: 1.2rem;
    font-weight: bold;
}

.deletePlayer>form {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

