.otherPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otherPlayer>p:nth-child(2) {
    font-size: 1.2rem;
    font-weight: bold;
}

.player-info {
    padding-bottom: 1rem;
}