.error-message {
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px; 
}

.create {
    padding-bottom: 3.5rem;
}

.create h4 {
    margin-top: 0;
    text-align: center;
}

.create .MuiFormControl-root {
    width: 100%
}

.create .MuiFilledInput-root {
    background-color: rgba(0, 0, 0, 0.02);
}

