a {
    text-decoration: none;
    display: inline-block;
}

.basic {
    background: linear-gradient(rgba(250, 248, 248, 0.2), rgba(25, 167, 173, 0.2)), url(../img/soccer.jpg) no-repeat center;
    background-size: cover;
    height: 85vh;
    position: relative;
    overflow: hidden;
}

.basic h1 {
    text-align: left;
    margin-bottom: 0;
    margin-left: 15px;
    position: absolute;
    bottom: 70px;
    font-size: 320%;
    color: #e8e6e6
}

#site-content>section.basic {
    text-align: center;
}

#site-content {
    padding-bottom: 3.5rem;
}

