{{> header}}
<section class="register">
    <form action="#/register" method="post">
        <fieldset>
            <legend>Register</legend>
            <p class="field">
                <label for="email">Email</label>
                <span class="input">
                    <input type="email" name="email" id="email" placeholder="Email" />
                    <span class="actions"></span>
                    <i class="fas fa-envelope"></i>
                </span>
            </p>
            <p class="field">
                <label for="password">Password</label>
                <span class="input">
                    <input type="password" name="password" id="password" placeholder="Password" />
                    <span class="actions"></span>
                    <i class="fas fa-key"></i>
                </span>
            </p>
            <input class="button" type="submit" class="submit" value="Register" />
        </fieldset>
    </form>
</section>
{{> footer}}