.my-players .my-players-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
}

.my-players textarea {
    margin-bottom: 2rem;
}

.my-players h1 {
    text-align: center;
    margin: 0rem;
    padding: 2rem 0 1rem 0;
}

.myPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%
}

.myPlayer>p:nth-child(2) {
    font-size: 1.2rem;
    font-weight: bold;
}