footer {
    text-align: center;
    background: #234465;
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 3.5rem;
}

footer p {
    padding: 1rem 0;
    font-weight: bold;
    margin: 0rem;
    color: white;
}

.linkedin-link {
    color: white;
    margin-left: 5px
}